@import 'normalize.css';

:root{
    --primary: #fe2c55;


    //DeafaultLayout
    --deafault-header-layout-height: 60px;
    --deafault-layout-width: 1150px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}