.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--deafault-layout-width);
    padding: 0 var(--deafault-layout-horizontal-spacer);
    display: flex;
    margin-top: var(--deafault-header-layout-height);
}

.content{
    flex: 1;
}